.invoice-item {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 10px 0;
	font-size: large;
}

.invoice-item * {
	align-self: center;
}

.invoice-item span {
	display: flex;
	align-items: center;
}

.invoice-item input {
	height: 25px;
	border: none;
	outline: none;
	width: 100%;
	max-width: 150px;
	box-sizing: border-box;
	background-color: #eeeeee;
}

.invoice-item button.delete-button{
	padding: 15px;
	background-color: #222222;
	color: #eeeeee;
	font-size: large;
}