.invoice-list {
	display: flex;
	flex-direction: column;
	justify-items: stretch;
	margin: 0 10%;
}

.list-header {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 1%;
	padding-bottom: 1%;
	font-size: large;
	border-bottom: #CCC 1px solid;
}

.list-header div{
	align-self: center;
}

button.add-item {
	margin: 1% 0;
	padding: 10px;
	background-color: #222222;
	color: #eeeeee;
	font-size: large;
}

.invoice-summary {
	display: flex;
	justify-content: flex-end;
	font-size: large;
}

.invoice-summary .summary-headers{
	margin-right: 25px;
}

.invoice-summary div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	font-size: large;
}